@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@100;200;300;400;500;700;800&family=Source+Sans+3:wght@100;200;300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #34d399;
    --secondary: #fdba74;
    --light: #fafaf9;
    --dark: #121212;
}

.blog-post-container p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: start;
    padding: 0.5rem 0rem;
    max-width: 900px;
    text-align: left;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-post-container img {
    width: max-content;
    max-height: 900px;
    align-self: center;
}

.blog-post-container li {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.blog-post-container ol {
    margin: 2rem 0px;
    list-style-type: decimal;
}

.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    text-align: left;
    width: 100%;
    max-width: 900px;
    line-height: 1.25;
    padding-top: 1rem;
}

.blog-post-container h1 {
    font-size: 46px;
}

.blog-post-container h2 {
    font-size: 32px;
}

.blog-post-container h3 {
    font-size: 24px;
}

@media (max-width: 798px) {
    .blog-post-container li {
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 800;
        font-size: 24px;
        color: var(--dark)
    }


    .blog-post-container ol {
        margin: 1rem 1rem;
        list-style-type: decimal;

    }
}