@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@100;200;300;400;500;700;800&family=Source+Sans+3:wght@100;200;300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Config vars */
:root {
    --primary: #34d399;
    --secondary: #fdba74;
    --background: #fafaf9;
    --text-color: #121212;
}

.dark {
    --primary: #34d399;
    --secondary: #fdba74;
    --background: #121212;
    --text-color: #fafaf9;
}

.serif {
    font-family: 'Alegreya', serif;
    font-weight: 700;
}

.sans {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
}

.xbold {
    font-weight: 900;
}