@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@100;200;300;400;500;700;800&family=Source+Sans+3:wght@100;200;300;400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #34d399;
    --secondary: #fdba74;
    --light: #fafaf9;
    --dark: #121212;
    --lightAccent: #dbdbdb;
    --darkAccent: #292929;

    --accent: #dbdbdb;
    --text-color: #121212;
    --border: #121212;
}

html.dark {
    --accent: #292929;
    --text-color: #afafaf;
    --border: #dbdbdb;
}

.privacy-policy-container p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0.5rem 0rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.privacy-policy-container {
    display: flex;
    list-style-type: decimal;
    margin: 0px 12rem;
    align-items: start;
    text-align: start;
}

.privacy-policy-container ol,
.privacy-policy-container ul {
    padding: 1.5rem 2rem;
    list-style: none;
    text-align: start;

    display: flex;
    flex-direction: column;
}

.privacy-policy-container ol {
    counter-reset: list-counter;
}

.privacy-policy-container li {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: fit-content;
    margin-bottom: 0.5rem;
    /* Space between list items */
    text-align: left;
    /* Align the text to the left for LI */
}

/* Style for ordered list items */
.privacy-policy-container ol li {
    display: block;
    position: relative;
    padding: 0.5rem 0rem;
    /* Needed for positioning the pseudo-element */
}

.privacy-policy-container ol li::before {
    counter-increment: list-counter;
    content: counter(list-counter) ". ";
    /* Add a period and space after the number */
    display: inline-block;
    /* Allocate space for the number */
    margin-right: 0.25em;
    /* Negative margin to pull numbers into their own column */
    text-align: right;
    /* Align the numbers to the right within their space */
}

/* Style for unordered list items */
.privacy-policy-container ul li {
    display: flex;
    text-align: left;
    /* Center items vertically */
}

.privacy-policy-container ul li::before {
    content: '\2022';
    transform: translateY(0px) scale(120%);
    height: fit-content;
    /* Unicode character for bullet */
    display: inline-block;
    /* Allocate space for the bullet */
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    /* Negative margin to pull bullet into its own column */
    text-align: left;
    /* Align the bullet to the right within their space */
}

/* Center the list within the blog post container */
.privacy-policy-container {
    display: flex;
    justify-content: center;
}

.privacy-policy-container blockquote {
    background-color: var(--accent);
    border-left: 4px solid var(--border);
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    blockquote p {
        color: var(--text-color);
    }
}

.privacy-policy-container h1,
.privacy-policy-container h2,
.privacy-policy-container h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 800;
    line-height: 1.25;
    padding-top: 1rem;
}

.privacy-policy-container h1 {
    font-size: 46px;
}

.privacy-policy-container h2 {
    font-size: 32px;
}

.privacy-policy-container h3 {
    font-size: 24px;
}

@media (min-width: 0px) {
    .privacy-policy-container {
        margin: 0px 0rem;
    }
}

@media (min-width: 798px) {}

@media (min-width: 1300px) {
    .privacy-policy-container {
        margin: 0px 4rem;
    }
}

@media (min-width: 1620px) {
    .privacy-policy-container {
        margin: 0px 12rem;
    }
}